<div style="text-align:center">
    <h2>List of all time Favourite Movies</h2>
</div>

<div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xl-1"></div>
        <div class="col-md-5 col-sm-5 col-xl-5">
            <span><label>Sort by: </label></span>
            <select class="select-control" (change)="sortMovies(selectedField)" [(ngModel)]="selectedField">
                <option disabled>Select</option>
                <option *ngFor="let column of sortByColumns" [value]="column.value">{{column.name}}</option>
            </select>
        </div>
        <div class="col-md-2 col-sm-2 col-xl-2"></div>
        <div class="col-md-2 col-sm-2 col-xl-2">
            <input type="text" placeholder="Search.." name="search" class="form-control search-box" type="text" [(ngModel)]="searchVal">
        </div>
        <div class="col-md-1 col-sm-1 col-xl-1">
            <button type="button" (click)="searchMovies(searchVal)" class="btn-search btn"
                [disabled]="!searchVal">Search</button>
        </div>
        <div class="col-md-1 col-sm-1 col-xl-1"></div>
    </div>
    <div class="row"></div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Categoty/ Genre</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Runtime</th>
            </tr>
        </thead>
        <tbody *ngIf="!searchVal && selectedField == 'Select'">
            <tr *ngFor="let movie of movieTableData | paginate: { id: 'def', itemsPerPage: 10, currentPage: curPage, totalItems: filteredItemLength}">
                <td>{{movie.primaryTitle}}</td>
                <td>{{movie.genres}}</td>
                <td>{{movie.startYear}}</td>
                <td>{{movie.averageRating}}</td>
                <td>{{movie.runtimeMinutes === '\\N' ? 'NA' : movie.runtimeMinutes}}</td>
            </tr>
        </tbody>
        <tbody *ngIf="searchVal || selectedField !== 'Select'">
            <tr *ngFor="let movie of movieTableData | paginate: { id: 'sort-search', itemsPerPage: 10, currentPage: p}">
                <td>{{movie.primaryTitle}}</td>
                <td>{{movie.genres}}</td>
                <td>{{movie.startYear}}</td>
                <td>{{movie.averageRating ? movie.averageRating : 'NA'}}</td>
                <td>{{movie.runtimeMinutes === '\\N' ? 'NA' : movie.runtimeMinutes}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row" *ngIf="movieTableData && movieTableData.length > 0">
        <div class="col" *ngIf="!searchVal && selectedField === 'Select'">
            <pagination-controls id="def" previousLabel="Prev" nextLabel="Next" (click)="pageChanged(curPage)" (pageChange)="curPage = $event"></pagination-controls>
        </div>
        <div class="col" *ngIf="searchVal || selectedField !== 'Select'">
            <pagination-controls id="sort-search" previousLabel="Prev" nextLabel="Next" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<ngx-spinner 
    bdColor="rgba(51,51,51,0.8)" 
    size="medium" 
    color="#fff" 
    type="pacman">
</ngx-spinner>
